Django==1.8.1
Twisted==16.4.1
argparse==1.2.1
asgi-redis==0.14.1
asgiref==0.14.0
autobahn==0.16.0
channels==0.17.3
click==6.6
croniter==0.3.12
daphne==0.15.0
dateutils==0.6.6
django-cacheops==3.0.1
django-cors-headers==2.1.0
django-model-utils==2.6
django-passwords==0.3.12
django-rq==0.9.2
django-rq-dashboard==0.3.0
django-timezone-field==2.0
funcy==1.7.1
meld3==1.0.2
msgpack-python==0.4.8
ordered-set==2.0.1
psycopg2==2.5
python-Levenshtein==0.12.0
python-dateutil==2.5.3
pytz==2016.7
redis==2.10.5
rq==0.6.0
rq-scheduler==0.7.0
six==1.10.0
supervisor==3.3.1
txaio==2.5.1
wsgiref==0.1.2
zope.interface==4.3.2